In [1]:
from NBA_data_scraper import NBA_scraper

### Ensure that the chromedriver software is downloaded 
**Download chromedriver version here:** `https://sites.google.com/a/chromium.org/chromedriver/downloads `

In [2]:
scraper = NBA_scraper(driverpath = '/Users/Liu/chromedriver')

#### Specify the start and end date to scrape data in range of the two dates

In [3]:
player_data, team_data = scraper.get_player_team_data(start_date = '2021-04-08', end_date = '2021-04-09')

Now scraping data from NBA games on 2021-04-08
On 2021-04-08 there are 7 games in the NBA.
Now scraping data from NBA games on 2021-04-09
On 2021-04-09 there are 9 games in the NBA.

In [8]:
player_data.head(5)

,Game-ID,Date,Team,Venue(R/H),Starter(Y/N),Player Name,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
0,20210409ATL,2021-04-09,Atlanta Hawks,H,Y,Trae Young,37:56,15,25,.600,...,0,8,8,9,0,0,4,1,42,+20
1,20210409ATL,2021-04-09,Atlanta Hawks,H,Y,Clint Capela,37:05,10,12,.833,...,0,10,10,1,0,2,1,1,22,+12
2,20210409ATL,2021-04-09,Atlanta Hawks,H,Y,Kevin Huerter,34:42,5,8,.625,...,0,2,2,5,2,1,0,2,11,+14
3,20210409ATL,2021-04-09,Atlanta Hawks,H,Y,Bogdan Bogdanović,34:13,5,10,.500,...,0,4,4,2,0,1,2,2,10,+17
4,20210409ATL,2021-04-09,Atlanta Hawks,H,Y,Solomon Hill,22:03,0,2,.000,...,1,2,3,1,1,0,0,1,0,-11

In [7]:
team_data.head(6)

,Game-ID,Date,Team,Venue(R/H),1Q,2Q,3Q,4Q,OT1,OT2,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,20210409ATL,2021-04-09,Atlanta Hawks,H,25,28,33,34,,,...,.826,6,35,41,25,7,4,9,14,120
1,20210409ATL,2021-04-09,Chicago Bulls,R,33,33,18,24,,,...,.929,8,30,38,25,6,1,13,17,108
2,20210409BOS,2021-04-09,Boston Celtics,H,25,32,35,32,21,,...,.941,9,36,45,32,9,5,20,25,145
3,20210409BOS,2021-04-09,Minnesota Timberwolves,R,39,27,31,27,12,,...,.900,9,28,37,30,14,0,14,26,136
4,20210409DEN,2021-04-09,Denver Nuggets,H,36,25,35,25,,,...,.913,9,37,46,32,5,4,18,22,121
5,20210409DEN,2021-04-09,San Antonio Spurs,R,26,24,33,36,,,...,.857,11,27,38,33,10,2,9,21,119

#### Quit chromedriver once you are done

In [9]:
scraper.quit()